<div id="content">
	<h1>&nbsp;</h1>
	<h2>Welcome!</h2>
	<button class="js-toggle-sources-btn">Toggle content</button>
	<ul class="js-sources-container hide">
		<li><a href="http://browserify.org/">Browserify homepage</a></li>
		<li><a href="http://marionettejs.com/">Marionette.js homepage</a></li>
	</ul>
</div>